base(href='/')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Styling
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
link(rel='stylesheet', href='css/cinema.css')
// Fonts
link(href='https://fonts.googleapis.com/css?family=Philosopher:700', rel='stylesheet')