<!doctype html>

<!-- Setup the Angular module  -->
<html ng-app="nodeMovieTickets">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>CinemaJazz</title>

		<!-- Styling -->
		<link rel="stylesheet" href="css/cinema.css">

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

		<!-- Scripts -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

		<script src="js/controllers/main.js"></script> <!-- load up our controller -->
		<script src="js/services/todos.js"></script> <!-- load our todo service -->
		<script src="js/services/movies.js"></script> <!-- Load our movie fetching service -->
		<script src="js/core.js"></script> <!-- load our main application -->
	</head>

	<!-- Set the Angular controller -->
	<body ng-controller="mainController">
		<div class="jumbotron text-center">
			<div class="container">
				<h1>CinemaJazz</h1>
			</div>
		</div>
		
		<div class="container">
			<!-- Search bar, for live filtering movies -->
			<div class="row justify-content-center mb-3">
				<div class="col-8">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" ng-model="formData.text">
							<!-- TODO: Remove the button, search should update on key press (as it is a filter) -->
							<!-- We can't get away with just filtering for very large datasets, but this dataset is small -->
							<span class="input-group-btn">
								<button type="submit" class="btn btn-secondary" ng-click="createTodo()"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				</div>
			</div>
			
			<p class="text-center" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span>
			</p>
			
			<div class="row">
				<div class="col-12">
					<div class="card-columns">
						<div class="card" ng-repeat="movie in movies.data.Movies">
							<!-- TODO: API provides broken images. So we need to verify which of the two is the good one -->
							<img class="card-img-top img-fluid" src="{{ movie.Poster }}">
							<div class="card-block">
								<h4>{{movie.Title}}</h4>
								<p class="card-text">Don't you wish you could see this movie!</p>
							</div>
							<div class="card-footer">
								$20.00
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
