doctype html
html
    head
        include includes/header.pug
        title #{appName} | Book Movie
    body
        .mj-header.text-center
            span.mj-header-background
            .container
                h1.mj-header-title Book
        .container
            p.lead Booking application begins here
            p But, unfortunately, my application scope ends here too
            p I hope you enjoyed using this application as much as I did creating it
            p
                | Please contact me at #[a(href='mailto:georgewpaton@me.com') georgewpaton@me.com]
                | if what you see here is of interest to you, or your company
            h4.display-4.text-center Adios!

        include includes/footer.pug